<nav class="navbar navbar-expand-md bg-bha navbar-dark">
        <div class="container">
            <a href="/" class="navbar-brand">Burgundy Hills</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item <%= path === '/amenities' ? 'active' : '' %>">
                        <a href="/amenities" class="nav-link">Amenities</a>
                    </li>
                    <li class="nav-item dropdown <%= path === '/floorplans' ? 'active' : '' %>">
                        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Floorplans</a>
                        <div class="dropdown-menu">
                            <a href="/vineyard" class="dropdown-item">1 Bed/1 Bath</a>
                            <a href="/ivyview" class="dropdown-item">2 Beds/2 Baths</a>
                            <a href="/vintage" class="dropdown-item">3 Beds/2 Baths</a>
                        </div>
                    </li>
                    <li class="nav-item <%= path === '/login' || path === '/residentPortal' ? 'active' : '' %>">
                        <a href="/login" class="nav-link">Residents</a>
                    </li>
                    <li class="nav-item">
                        <a href="/apply" class="nav-link">Apply</a>
                    </li>
                    <li class="nav-item <%= path === '/gallery' ? 'active' : '' %>">
                        <a href="/gallery" class="nav-link">Photos</a>
                    </li>
                    <li class="nav-item <%= path === '/contactus' ? 'active' : '' %>">
                        <a href="/contactus" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
</nav>